<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travelfamilies.mapper.OrderMapper">

    <select id="getOrderSort" resultType="com.travelfamilies.pojo.HotelOrder">
        select * from hotel_order
        <where>
            user_id=#{userId}
            <if test="category !=null and category!=4">
                 and status=#{category}
            </if>
        </where>

    </select>
</mapper>