<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.travelfamilies.mapper.SpotMapper">

    <select id="getSpot" resultType="com.travelfamilies.pojo.Spot">
        select
        *
        from spot
        <where>
            <choose>
                <when test="key != null and value != null">
                    <choose>
                        <when test="key == 'name'">AND name = #{value}</when>
                        <when test="key == 'city'">AND city = #{value}</when>
                        <when test="key == 'type'">AND type = #{value}</when>
                        <when test="key == 'status'">AND status = #{value}</when>
                        <otherwise>AND 1 = 0</otherwise>
                    </choose>
                </when>

                <otherwise>
                    <if test="keyword != null and keyword != ''">
                        AND (
                        CONCAT(name, city, type) LIKE CONCAT('%', #{keyword}, '%')
                        )
                    </if>
                </otherwise>
            </choose>

            AND status = 1

        </where>

    </select>


    <update id="updateCount">
        <if test="list != null and list.size() > 0">
            update spot
            <set>
                comment_count =
                <foreach collection="list" item="item" separator=" " open="case id" close="end">
                    when #{item.id} then #{item.mode}
                </foreach>
            </set>
            WHERE id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
    </update>


    <update id="updateStarRating">
        <if test="list != null and list.size() > 0">
            update spot
            <set>
                average_score =
                <foreach collection="list" item="item" separator=" " open="case id" close="end">
                    when #{item.id} then #{item.mode}
                </foreach>
            </set>
            WHERE id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
    </update>
</mapper>