<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.travelfamilies.mapper.SpotMapper">

    <select id="getSpot" resultType="com.travelfamilies.response.SpotResponse">
        select
        id,name,city,type,open_time,views
        from spot
        <where>
            <choose>
                <when test="key != null and value != null">
                    AND ${key} = #{value}
                </when>

                <otherwise>
                    <if test="keyword != null and keyword != ''">
                        AND (
                        CONCAT(name, city, type) LIKE CONCAT('%', #{keyword}, '%')
                        )
                    </if>
                </otherwise>
            </choose>

            AND status = 1

        <choose>

        </choose>
        </where>

    </select>


    <update id="updateCount">

        update spot
        <set>
            <trim prefix="comment_count = case" suffix="end">

                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.mode}
                </foreach>

            </trim>
        </set>

        WHERE id IN

        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>

    </update>

    <update id="updateStarRating">

        update spot
        <set>
            <trim prefix="average_score = case" suffix="end">

                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.mode}
                </foreach>

            </trim>
        </set>

        WHERE id IN

        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>

    </update>
</mapper>