<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.travelfamilies.mapper.UserMapper">
    <select id="getUser" resultType="com.travelfamilies.response.GetUserResponse">
        select id, nickname, avatar
        from user_detail
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>
</mapper>